@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* brand colors */
  --primary: oklch(0.205 0 0);
  --primary-hover: #4f46e5;
  --secondary: oklch(0.97 0 0);
  --secondary-hover: #16a34a;
  --danger: #ef4444;
  --danger-hover: #dc2626;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --red-basic: #ac2c0c;
  --blue-basic: #39a2ee;
  --dark-basic: #393e41;

  --primaryColor: oklch(61.519% 0.24507 19.847);
  --primaryHoverColor: oklch(52.261% 0.20777 19.305 / 0.905);
}

@theme inline {
  --font-Jost: "Jost", sans-serif;
  --font-mona-sans: "Mona Sans", sans-serif;
  --color-theme-color: var(--primaryColor);
  --color-theme-hover-color: var(--primaryHoverColor);
  --color-background: var(--background);
  --color-Primary-Red: "#E50914";
  --color-Hover-Accent-Red: "#FF3B30";
  --color-hover-Subtle-Grey: "#2B2B2B";
  --color-Background-Black: "#0D0D0D";
  --text-white: "#f5f5f5";
  --text-dark: oklch(16.073% 0.00266 325.38 / 0.905);
  --text-Muted: "#A0A0A0";
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-background;
  }
}

@layer components {
  .custom-button {
    @apply px-3 py-1 shadow-md
           hover:shadow-[0_0_10px_rgba(0_0_0/0.3)]
           rounded-lg hover:bg-slate-700 
           duration-500;
  }
  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }
  .bordered {
    @apply border border-black;
  }
  .custom-input {
    @apply border px-1.5 py-1 text-[15px] rounded-lg 
    border-gray-400 dark:border-white w-full focus:outline-none
     focus:border-theme-color;
  }
  .bg-custom-linear {
    @apply bg-linear-30 to-red-100 from-orange-200;
  }
  .bg-custom-radial {
    @apply bg-radial from-5% from-amber-300 to-red-700;
  }
}

/* 

:root {
  --color-primary: #E50914;     
  --color-accent: #FF3B30;      
  --color-background: #0D0D0D;  
  --color-card: #1A1A1A;        
  --color-muted: #A0A0A0;       
  --color-text: #F5F5F5;        

  --color-success: #22C55E;
  --color-warning: #FACC15;
  --color-error: #DC2626;

  --shadow-red-glow: 0 0 10px var(--color-accent);
}

.dark {
  --color-background: #000000;
  --color-card: #1A1A1A;
  --color-text: #FFFFFF;
  --color-muted: #888888;
}

.bg-primary { background-color: var(--color-primary); }
.hover\:bg-accent:hover { background-color: var(--color-accent); }
.bg-card { background-color: var(--color-card); }
.bg-background { background-color: var(--color-background); }
.text-text { color: var(--color-text); }
.text-muted { color: var(--color-muted); }
.shadow-red-glow { box-shadow: var(--shadow-red-glow); } */
